
{% extends "basewebsite.html" %}
{% load static %}

{% load humanize %}

{% block content %}
<section>
        <div class="container">
            <div class="row">
                <div class="cor">
                   
                    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>Perbaikan  <span>Wifi Qiana</span></h2>
                    {% comment %}  {% endcomment %}
                     <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Pengajuan Form Perbaikan Wifi Qiana</h4>
                                   
                                </div>
                                <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                         {% csrf_token %}
                                            <thead>
                                                <tr>
                                                    <th>#</th>
													<th>Kode Pemasangan</th>
                                                    <th>Jenis Produk Wifi</th>
                                                    <th>Harga Perbulan</th>
                                                    <th>Status Pemasangan</th>
													<th>Tanggal Pemasangan</th>
													<th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for row in perbaikan %}
                                            <tr>
                                                   <td>{{ forloop.counter }}</td>
                                                    <td>{{row.kode_pasang}}</td>
                                                    <td>{{row.produk.nama_produk}}</td>
                                                    <td>Rp. {{row.produk.harga|intcomma}}</td>
                                                    <td>{{row.status}}</td>
                                                    <td>
                                                    {% if row.tanggal_pasang %}
                                                        {{row.tanggal_pasang}}
                                                    {% else %}
                                                        Belum Ada Jadwal
                                                    {% endif %}
                                                    </td>
                                                   
                                                    <td>
                                                    <a href="{% url 'ajukanperbaikanwifi' row.kode_pasang  %}" type="buttom" class="btn btn-danger"> Ajukan Perbaikan</a>
                                                    </td>
                                                    
													
                                                </tr>
                                            {% empty %}
                                            <tr>
                                                    <td colspan="6" align="center">Data Pemasangan Masih Kosong</td>
                                                    
                                                    
													
                                                </tr>
                                            {% endfor %}
                                      
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <br/>
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Data Perbaikan</h4>
                                   
                                </div>
                                <div class="tab-inn">
                                <div class="table-responsive">
                                                   
                                                      <table class="table table-hover">
                                                          <thead>
                                                            <tr align="center">
                                                             <th>No</th>
                                                             <th>Tanggal Pengajuan</th>
                                                              <th>Nama Pelapor</th>
                                                              <th>Jenis Produk</th>
                                                              <th>Keluhan</th>
                                                              <th>Alamat </th>
                                                              <th>No Whatsapp </th>
                                                              <th>Status </th>
                                                             
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                          {% for row in data %}
                                                          <tr align="center">
                                                            <td>{{ forloop.counter }}</td>
                                                              <td>{{row.date_created}}</td>
                                                            <td>{{row.pelanggan.nama}}</td>
                                                            <td>{{row.detailpasang.produk.nama_produk}}</td>
                                                            <td>{{row.keluhan|safe}}</td>
                                                            <td>{{row.pelanggan.alamat|safe}}</td>
                                                            <td>{{row.pelanggan.wa}}</td>
                                                            <td>{{row.status}}</td>
                                                            
                                                            
                                                          </tr>
                                                          {% empty %}
                                                          <tr>
                                                            
                                                            <td colspan="8" align="center">Data perbaikan Kosong</td>
                                                          </tr>
                                                          {% endfor %}
                                                      </table>
                                                  </div>
                                                 
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    {% comment %}  {% endcomment %}
                </div>
            </div>
          
        </div>
    </section>
        
                 
                </div>
            </div>
        </div>
    </section>


<script type="text/javascript" language="javascript">


 </script>
{% endblock content  %}